@import "../../styles/communs.scss";

.logoHeader {
  //outline: 1px solid black;
  width: 300px;
  height: 300px;
}
header {
  //outline: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include marginDesktop;
}
