@import "../../styles/communs.scss";

.containerNavigate {
  // outline: 1px solid black;
  width: auto;
  display: flex;
  justify-content: flex-end;
  
}
a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.menu {
  display: block;
  position: relative;
  cursor: pointer;
}

.menu-title {
  color:$colorGrey;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
 
  width: $menu_WIDTH;
  height: 50px;
   color: $colorGrey;
  text-transform: uppercase;
  transition: 0.3s background-color;
  border-radius:20px;
  &:hover{
    color:#ffdcba;
  }
}

.menu-title:before {
  content: "";
  margin-top: -10px;
  height: 0;
  border-top: 5px solid $colorGrey;
  border-left: ($menu_WIDTH / 2) solid transparent;
  border-right: ($menu_WIDTH / 2) solid transparent;
  border-bottom: 0 solid #ffdcba;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
 
}



.menu:hover > .menu-title:before {
  border-top-width: 0;
  transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.menu-title:after {
  content: "";
  display: block;
  height: 0;
  border-left: ($menu_WIDTH / 2) solid transparent;
  border-right: ($menu_WIDTH / 2) solid transparent;
  border-bottom: 0 solid #ffdcba;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  transition: 0.2s border-bottom ease-in;
}

.menu:hover > .menu-title:after {
  border-bottom-width: 5px;
  transition: 0.2s 0.2s border-bottom-width ease-out;
}


@media #{$small-down} {
.containerNavigate{
  font-size:9px;
  display: flex;
  flex-direction: column;
}
}