

#backgroundBanner{
    background-color: red;
    width:100%;
    margin: 0;
	padding: 500px 0 0 0;
	position: absolute;
	left: 0;
	overflow: hidden;
  background: url('http://res.cloudinary.com/duqzvuawc/image/upload/c_scale,h_424/v1508813537/clouds_tile_efhbuh.jpg');
  animation: clouds_animation 75s linear infinite;
}
@keyframes clouds_animation {
    0%  {background-position: 0 0;}
    100%  {background-position: -2122px 0;}
  }

  .titleBanner1,.titleBanner2 {
     // outline: 1px solid red;
     text-align: center;
     padding-top:60px;
      color: white;
      position: relative;
      font-size:50px;
  }